<?xml version="1.0"?>
<launch>
  <!-- doc Launch the N5 basement world in Gazebo, load the car and start the whole setup -->

  <!-- Start the Gazebo simulation -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <!-- Load the car and spawn it in the simulation -->
  <include file="$(find robot_sim)/launch/tas_car.launch"/>

</launch>
