<?xml version="1.0" ?>
<launch>

	<!-- doc Launches the airport world -->
	<param name="/use_sim_time" value="true"/>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<env name="GAZEBO_MODEL_PATH" value="$(find airport_sim)/gazebo/models"/>
	</include>

	<include file="$(find robot_sim)/launch/tas_car.launch"/>
</launch>
